<!DOCTYPE html>
<html lang="en" ng-app="todoApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AngularJS ToDo List</title>
  <!-- Include AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="./todo-list.component.js"></script>
  <link rel="stylesheet" href="./todo-list.component.css">
</head>

<body ng-controller="TodoController">

  <div class="todo-container">
    <h1>Todo List</h1>

    <!-- Input field to add new tasks -->
    <div class="task-newform">
      <input type="text" ng-model="newTask" placeholder="Add a new task" />
      <button class="button-new" ng-click="addTask()">Add Todo</button>
    </div>

    <!-- Display the list of tasks -->
    <ul>
      <li ng-repeat="task in tasks" ng-class="{completed: task.completed}">
        <span class="task-text" ng-click="toggleComplete(task)">{{ task.text }}</span>
        <button class="delete" ng-click="deleteTask($index)">Delete</button>
      </li>
    </ul>
  </div>

</body>

</html>