<html lang="en" ng-app="timerApp">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Timer Application</title>
    <!-- Include AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./timer.component.js"></script>
    <link rel="stylesheet" href="./timer.component.css">
</head>

<body ng-controller="TimerController">

    <div class="timer-container">
        <h1>Countdown Timer</h1>

        <div class="timer-body">
            <input type="number" ng-model="inputTime" placeholder="Enter time in seconds" />
    
            <div class="timer-buttons"></div>
                <button ng-click="startTimer()" style="background-color: #f0f0f0;">Start</button>
                <button ng-click="stopTimer()" style="background-color: #28a745; color: white;">Stop</button>
                <button ng-click="resetTimer()" style="background-color: #dc3545; color: white;">Reset</button>
            </div>
        </div>
        <div class="timer-display">
            Time Remaining: {{ timeLeft }} second(s)
        </div>
    </div>
</body>

</html>